<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button slot="start" aria-label="Add" routerLink="/places/tabs/offers/new">
        <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col offsetSm="2" sizeSm="8" class="ion-text-center" size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let place of offers" #slidingItem>
            <app-offer-item [offer]="place"></app-offer-item>
            <ion-item-options>
              <ion-item-option color="secondary" aria-label="Edit"
                [routerLink]="['./edit', place.id]" (click)="slidingItem.close()">
                <ion-icon name="pencil-outline" slot="icon-only" aria-hidden="true"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
