<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>new-offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-start">
      <ion-col size="4" offset="2">
        row 1 col 1
      </ion-col>
      <ion-col size="4">
        row 1 col 2
      </ion-col>
      <!-- <ion-col>
        row 1 col 3
      </ion-col>
      <ion-col>
        row 1 col 4
      </ion-col>
      <ion-col>
        row 1 col 5
      </ion-col>
      <ion-col>
        row 1 col 6
      </ion-col>
      <ion-col>
        row 1 col 7
      </ion-col>
      <ion-col>
        row 1 col 8
      </ion-col>
      <ion-col>
        row 1 col 9
      </ion-col>
      <ion-col>
        row 1 col 10
      </ion-col>
      <ion-col>
        row 1 col 11
      </ion-col>
      <ion-col>
        row 1 col 12
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
